*{
  box-sizing: border-box;
  margin: 0;
}

.parent{
  height: 100vh;
  width: 100vw;
  background-color: #111;
  padding: 20px;
  display: flex;
  overflow-x: auto;
  gap: 30px;
}

.card{
  height: 38vh;
  width: 15vw;
  background-color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img{
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid #dadada;
  object-fit: cover;
  padding: 2px;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top button{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 4px 8px;
  border: 1px solid #dadada;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;

}

.center h3{
  /* display: flex;
  align-items: center; */
  font-size: 15px;
  font-weight: 500;
}

.center h3 span{
  font-size: 7px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 19px;
}

.center .tag{
  margin-top: 7px;
  display: flex;
  gap: 5px;
}

.center .tag h4{
  font-size: 11px;
  background-color: #dadada;
  padding: 2px 4px;
  border-radius: 5px;
  font-weight: 500;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #e8e6e6;
  padding-top: 15px;
}

.bottom .bottom_price p{
  font-size: 7px;
  color: #8b8b8b;
}

.bottom .bottom_price h3{
  font-size: 15px;
  font-weight: 500;
}

.bottom button{
  border-radius: 5px;
  padding: 3px 7px;
  background-color: #111;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
}